/* reset */
*{

    margin: 5;
    padding: 0;
    
}

body{
    font-size: 22px;
    color: white;
    display: grid;
    grid-template-rows: 100px 1fr 100px;
    padding: 70px 70px 24px 70px;
    font-family: 'Golos Text', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Righteous', cursive;
    
}

main{

    display: grid;
    grid-template-columns: 2fr 200px;
}

.titulos{
    display: grid;
    grid-template-rows: 1fr 200px;
}

.description{
    width: 800px;
}

.title_text{
    font-weight: lighter;
    text-shadow: 15px;
}


.logo__img{
    width: 650px;
}

.row2{
    display: grid;
    place-content: center;
    gap: 24px;
}


.description_text{
    font-weight: lighter;
    text-shadow: 1px;
}

.coluna{
    float: left;
    width: 33.33%;

}

.row{
    content: "";
    clear: both;
    display: flex;
    flex-direction: row;
    gap: 25px;

}

.credit_text{
    text-align: center;
    margin-top: auto;
    font-size: 20px;
}

